* {
  font-family: 'Times New Roman', Times, serif;
}

/* main move */

.main-move {
  width: 100%;
  height: auto;
}

.move-value {
  position: absolute;
  width: 100%;
  top: 300px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 5px #111111;
}

/* header */
.heaedr-fontColor{
  color: #fff;
  text-shadow: 3px 3px 4px #111111;
}
.header-fontColor.black{
  color: #000;
  text-shadow: none;
}

.header-inner {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.header-logo {
  font-size: 25px;
  font-weight: normal;
  margin-left: 10px;
}

.hum {
  position: relative;
  width: 80px;
  height: inherit;
}

.hum span {
  position: absolute;
  display: block;
}

.hum-line {
  background-color: #fff;
  width: 40px;
  height: 2px;
  left: 20px;
  transition: 0.8s;
}

.hum-guide {
  width: 80px;
  text-align: center;
}

/* ーハンバーガーボタン初期値ー */
.hum span:nth-of-type(1) {
  top: 20px;
}
.hum span:nth-of-type(2) {
  top: 30px;
}
.hum span:nth-of-type(3) {
  top: 40px;
}
/* ーーーーーーーーーーーーーー */
.hum span:nth-of-type(4) {
  top: 45px;
}

.header-nav {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 130px;
  background-color: #ffff0090;
  /* ーーハンバーガーナビ初期値ーー */
  opacity: 0;
  pointer-events: none;
  /* ーーーーーーーーーーーーーーー */
  transition: 0.5s;
}

.nav-menu {
  font-size: 20px;
  display: block;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-bottom: 1px;
  transition: 0.2s;
}

.nav-menu:hover {
  transform: scale(1.05);
  padding-bottom: 1px;
}

/* ハンバーガーメニュー　クリック後の値（main.jsでclassに.is-activeをtoggle） */
.hum.is-active span:nth-of-type(1) {
  top: 30px;
  transform: rotate(-225deg);
}
.hum.is-active span:nth-of-type(2) {
  top: 30px;
  transform: rotate(225deg);
}
.hum.is-active span:nth-of-type(3) {
  top: 30px;
  transform: rotate(225deg);
}
.header-nav.is-active {
  opacity: 100;
  pointer-events: visible;
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

/* fade-in */
.fade-in {
  transition: 2s;
  opacity: 0;
}
.fade-in.visible {
  opacity: 100;
}

/* introduction */
#Introduction {
  width: 100%;
  height: 100vh;
}

.introduction-inner{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.introduction-inner h2 {
  font-size: 25px;
  text-align: center;
  padding-bottom:30px;
}

.introduction-inner p {
  text-align: center;
  line-height: 50px;
}

.font-size{
  font-size: 20px;
}
